<html>
    <head>
        <title>Quiz</title>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
        <link href="http://igniteflow.com/static/css/pygments/github.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="wrap">

              <!-- Begin page content -->
            <div class="container">
                <div class="page-header">
                  <h1>{% block title %}Quiz{% endblock %}</h1>
                </div>
                {% block content %}
                <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
                {% endblock %}
            </div>

            <div id="footer">
              <div class="container">
                <p class="text-muted credit">Ermm, hi?</p>
              </div>
            </div>
        </div>    
    </body>
</html>