<html>
    <head>
        <title>QuizFactory - {% block title %}QuizFactory{% endblock %}</title>
        <script src="{{url_for('static', filename='js/jquery-min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{url_for('static', filename='css/github.css')}}" rel="stylesheet" type="text/css"/>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="wrap">
            <div class="container">
                <div class="page-header">
                  <h1>{{ self.title() }}</h1>
                </div>

                <div id="content">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div> 
        {% block modals %} 
        {% endblock %}  
    </body>
</html>