{% extends "base.html" %}

{% block title %}
{{quiz.name}}
{% endblock %}

{% block head %}
<script src="{{url_for('static', filename='js/underscore-min.js')}}"></script>
<script src="{{url_for('static', filename='js/backbone-min.js')}}"></script>
<script src="{{url_for('static', filename='js/answer_types.js')}}"></script>
<style>
  .panel-heading{ padding: 2px; }
  .panel-body{ padding: 2px; }
  pre { padding: 2px 12px; background-color: transparent; border: none; }
</style>
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Description</h4>
  </div>
  <div class="panel-body">
    {{quiz.desc|safe}}
  </div>
</div>

<div class="modal fade in " id="ErrorModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Error</h4>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
</div>

<button id='start' class='btn btn-primary btn-lg'>Start the Quiz</button>
<a href="{{url_for('get_index')}}" class='btn btn-primary'>Return to list of quizzes</a>

<script type="text/html" id='questionTemplate'>
    {% include "js_quiz.html" %}
</script>

<script>
$(function(){
    var Game = Backbone.Model.extend({
        url: "{{url_for('get_game', quiz_id=quiz_id)}}",
        isNew: function(){
            return this.get("pointer") == undefined;
        },
        defaults: {
            descs: [],
            answers: {},
            answers_type: "radio",
        }
    });

    var GameView = Backbone.View.extend({
        el: $('#content'),
        template: _.template($('#questionTemplate').html()),
        game: null,
        events: {
          'click #prev': 'prev',
          'click #finish': 'finish',
          'click #next': 'next',
          'click #start': 'start',
          'click .btn-question': 'set_question',
          'click #end-game': 'end_game',
          'change form': 'set_choice'
        },
        initialize: function(){
           _.bindAll(this, 'render', "next", "prev", "start",
                     "update_game", "set_question", "set_choice");
           this.game = new Game();
           this.game.fetch({success: this.render});
        },
        render: function(){
          var rendered = this.template(this.game.attributes);
          $(this.el).html(rendered);
        },
        next: function(){
          this.update_game({pointer: this.game.get("pointer") + 1});
        },
        prev: function(){
          this.update_game({pointer: this.game.get("pointer") - 1});
        },
        start: function(){
          this.update_game();
        },
        set_question: function(e){
          var i = parseInt($(e.target).data("number"));
          this.update_game({pointer: i});
        },
        finish: function(){
          this.update_game({finish: true});
          this.game.unset('finish');
        },
        set_choice: function(){
          var answers_type = this.game.get('answers_type');
          var generate_choice = AnsTypeViews[answers_type].generate_choice;
          var choice = generate_choice($(this.el).find('form'));
          this.update_game({choice: choice});
        },
        show_error: function(obj, a){
           var modal = $("#ErrorModal");
           var json = a.responseJSON;
           var txt = json?json.error:'Undefined error(' + a.status + ')';
           modal.find(".modal-body").text(txt);
           modal.modal('show');
        },
        end_game: function(){
          this.game.destroy();
          window.location = window.location; //redirect. Yep, i'm lazy :)
        },
        update_game: function(attr){
          this.game.save(attr || {}, {
            success: this.render,
            error: this.show_error
          });
        }
    });

    gameView = new GameView();

});
</script>
{% endblock %}