{% extends "base.html" %}

{% block title %}
{{quiz.name}}
{% endblock %}

{% block head %}
<script src="{{url_for('static', filename='js/underscore-min.js')}}"></script>
<script src="{{url_for('static', filename='js/backbone-min.js')}}"></script>
<script src="{{url_for('static', filename='js/answer_types.js')}}"></script>
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Description</h4>
  </div>
  <div class="panel-body">
    {{quiz.desc|safe}}
  </div>
  
</div>

<button id='start' class='btn btn-primary btn-lg'>Start the Quiz</button>

<script type="text/html" id='questionTemplate'>
    {% include "js_quiz.html" %}
</script>

<script>
$(function(){
    var Game = Backbone.Model.extend({
        url: "{{url_for('get_game', quiz_id=quiz_id)}}",
        isNew: function(){
            return this.get("pointer") == undefined;
        },
        defaults: {
            descs: [],
            answers: {},
            answers_type: "radio",
        }
    });

    var GameView = Backbone.View.extend({
        el: $('#content'),
        template: _.template($('#questionTemplate').html()),
        game: null,
        events: {
          'click button#prev': 'prev',
          'click button#finish': 'finish',
          'click button#next': 'next',
          'click button#start': 'start',
        },
        initialize: function(){
           _.bindAll(this, 'render', "next", "prev", "start", "update_game");
           this.game = new Game();
           this.game.fetch({success: this.render});
        },
        render: function(){
          var rendered = this.template(this.game.attributes);
          $(this.el).html(rendered);
        },
        next: function(){
          this.update_game({pointer: this.game.get("pointer") + 1});
        },
        prev: function(){
          this.update_game({pointer: this.game.get("pointer") - 1});
        },
        start: function(){
          this.update_game();
        },
        update_game: function(attr){
          this.game.save(attr || {}, {
            success: this.render
          });
        }
    });

    var gameView = new GameView();

});
</script>
{% endblock %}